<app-navbar>
  <h3 class="mat-h3">
      <button mat-icon-button (click)="goToLdap()">
          <mat-icon aria-label="Accueil">arrow_back</mat-icon>
      </button>
      {{ addForm ? 'Ajout' : 'Edition' }} d'un utilisateur
  </h3>

  <section class="loading" *ngIf="processLoadRunning">
      <mat-spinner diameter="25"></mat-spinner>
      <span>&nbsp; En cours de chargement...</span>
  </section>

  <app-alert *ngIf="errorMessage.length > 0" [type]="'danger'">{{ errorMessage }}</app-alert>

  <form class="user-form" *ngIf="processLoadRunning === false"
      [formGroup]="userForm"
      (ngSubmit)="onSubmitForm()"
  >
      <table class="user-full-width">
          <tr>
              <td>
                  <mat-form-field class="user-full-width">
                      <input
                          matInput
                          type="text"
                          class="form-control"
                          placeholder="Nom de l'utilisateur"
                          id="nom"
                          formControlName="nom"
                          required
                          (input)="updateLogin()"
                      />
                      <mat-error>Le nom est requis.</mat-error>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="user-full-width">
                      <input
                          matInput
                          type="text"
                          class="form-control"
                          placeholder="Prénom de l'utilisateur"
                          id="prenom"
                          formControlName="prenom"
                          required
                          (input)="updateLogin()"
                      />
                      <mat-error>Le prénom est requis.</mat-error>
                  </mat-form-field>
              </td>
          </tr>
      </table>

      <table class="user-full-width">
          <tr>
              <td>
                  <mat-form-field class="user-full-width">
                      <input
                          matInput
                          type="text"
                          class="form-control"
                          placeholder="Login de l'utilisateur"
                          id="login"
                          formControlName="login"
                          required
                          (input)="updateMail()"
                      />
                      <mat-error>Le login est requis.</mat-error>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="user-full-width">
                      <mat-label>Mail</mat-label>
                      <input
                          matInput
                          type="text"
                          name="mail"
                          formControlName="mail"
                      />
                  </mat-form-field>
              </td>
          </tr>
      </table>
      <table class="user-full-width" formGroupName="passwordGroup">
          <tr>
              <td>
                  <mat-form-field class="user-full-width">
                      <input
                          matInput
                          type="password"
                          class="form-control"
                          [placeholder]="passwordPlaceholder"
                          [errorStateMatcher]="confirmValidParentMatcher"
                          id="password"
                          formControlName="password"
                          [required]="addForm"
                      />
                      <mat-error>Les mots de passe doivent être identiques.</mat-error>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="user-full-width">
                      <input
                          matInput
                          type="password"
                          class="form-control"
                          placeholder="Confirmer le mot de passe"
                          [errorStateMatcher]="confirmValidParentMatcher"
                          id="passwordConfirm"
                          formControlName="passwordConfirm"
                          [required]="addForm"
                      />
                      <mat-error>Les mots de passe doivent être identiques.</mat-error>
                  </mat-form-field>
              </td>
          </tr>
      </table>
      <table class="user-full-width">
          <tr>
              <td>
                  <mat-form-field class="user-full-width">
                      <mat-label>Numéro de l'employé</mat-label>
                      <input
                          matInput
                          type="text"
                          id="employeNumero"
                          formControlName="employeNumero"
                      />
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="user-full-width">
                      <mat-label>Niveau de l'employé</mat-label>
                      <input
                          matInput
                          type="text"
                          id="employeNiveau"
                          formControlName="employeNiveau"
                      />
                  </mat-form-field>
              </td>
          </tr>
      </table>
      <table class="user-full-width">
          <tr>
              <td>
                  <mat-form-field class="user-full-width">
                      <mat-label>Date d'embauche</mat-label>
                      <input
                          matInput
                          type="text"
                          id="dateEmbauche"
                          formControlName="dateEmbauche"
                      />
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="user-full-width">
                      <mat-label>ID de l'éditeur</mat-label>
                      <input
                          matInput
                          type="text"
                          id="publisherId"
                          formControlName="publisherId"
                      />
                  </mat-form-field>
              </td>
          </tr>
      </table>
      <table class="user-full-width">
          <tr>
              <td>
                  <mat-slide-toggle formControlName="active">Actif</mat-slide-toggle>
              </td>
          </tr>
      </table>

      <div style="display: flex; justify-content: flex-end;">
          <button type="submit" mat-stroked-button color="primary"
              [disabled]="processValidateRunning || !isFormValid()"
          >
              <mat-icon *ngIf="processValidateRunning">
                  <mat-spinner diameter="16"></mat-spinner>
              </mat-icon>
              Valider
          </button>
      </div>
  </form>
</app-navbar>
